.grid_item,
.item,
.item_button,
.item_description,
.project_title,
.title_container,
.bubble_container,
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_item {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 8px 40px 8px;
}

.item {
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 350px; 
    max-width: 480px;
    position: relative;
    box-shadow: 0 5px 15px black;
    border-radius:8px ;
}
.item h2{
    text-align: center;
    padding-left:20px;
}

.item img {
    width: 100%;
    border-radius:8px 8px 0 0 ;
}

.title_container {
    justify-content: space-between;
    width: 100%;
}

.item_description {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
    height: 90px;
    text-align: left;

}

.bubble_container {
    position: absolute;
    overflow: hidden;
    top: -35%;
    right: 0;
    border-radius: 50px 0 0 50px;
    padding: 2px;
    background-color: #bbb;
}
.project_title {
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.3em;
    font-weight: 800;
    width: 100%;
    height: 100%;
    min-height: 40px;
}

.button  {
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    background: linear-gradient(45deg, #0226b8c5, #f21313c2);
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    transition: .5s;
    border-radius:7px ;
}
.button:hover{
    background-color: #fff;
    filter: brightness(105%) contrast(110%);
}
.stamp{
    position: absolute;
    top: -10px;
    left:-10px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.stamp::before{
    content: 'Responsive';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    width: 150%;
    height: 40px;
    background-color: #c80404;
    transform: rotate(-45deg) translateY(-20px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.stamp::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #8a0202;
    z-index: 0;
    box-shadow: 140px -140px #8a0202;
    /* width - 10px */
}