.loader,
.loaded {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s ease-in-out forwards;
}
.block_animation{
    width: 200px;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%);
}
.loaded {
    overflow: hidden;
    animation: loader .5s ease-in-out;
}

@keyframes loader {
    0% {
        
    }
    100% {
        transform: translate(150%);
    }
}
