.grid_filtered_button{
    width: 100%;
    z-index: 1;
    max-width: 1000px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.2),
                -5px -5px 5px rgba(255, 255, 255, 0.3);
    margin:30px 0;
    border-radius: 30px;
}
.filtered_button{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    flex: 1 1 100px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255, 0.3);
    cursor: pointer;
    color: #fff;
    transition:.5s;
    border-radius: 30px;
}
.filtered_button:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-weight: bold;
}