.grid_filtered_button{
    z-index: 1;
    max-width: 400px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 3px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.2),
                -5px -5px 5px rgba(255, 255, 255, 0.3);
    margin:30px 0;
    border-radius: 30px;
}
.filtered_button{
    padding: 5px;
    background-color: #b1b1b1;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255, 0.3);
    cursor: pointer;
    color: #fff;
    transition:.5s;
    border-radius: 25px;
}
.filtered_button:hover{
    background-color: rgb(218, 218, 218);
    color: #000000;
    font-weight: bold;
}