.titleShadow{
    font-size: calc(10px + 15vw);
    line-height: 15vw;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: normal;
    z-index: 1;
    color: rgb(144, 144, 144);
    text-shadow: 7px 7px 1px rgb(50, 50, 50);
    font-weight: 800;
    
}

.titleShadowLight{
    color: rgb(215, 214, 214);
    opacity: 1;
    
}

@media (max-width:991px) {
    .titleShadow{
        font-size: 120px;
        line-height: 100px;
    }
}
