.title-page {
    color: rgb(255, 255, 255);
    font-size: calc(25px + 6vw);
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-family: sans-serif;
    margin: 30px 0 15px 0;
}

.title-page:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.865em;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0, transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.7;
}
@media (max-width:800px) {
    .title-page{
        font-size: calc(25px + 9vw);
    }
}