.about-container,
.about,
.box-description,
.about-title
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container {
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}
.about {
    width: 100%;
    min-height: 80vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.about-title{
    width: 100%;
    max-width: 600px;
}
.box-description {
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    background-color: rgba(54, 54, 54, 0.1);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.1),
                -5px -5px 5px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: 300;
    padding: 15px;
    text-align: justify;
    margin: 0 10px;
}
