.nav,
.nav .navigation,
.nav .navigation ul,
.nav .navigation ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    height: 65px;
    position: fixed;
    z-index: 1;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.nav .navigation {
    position: absolute;
    width: 350px;
    height: 50px;
    bottom: 1%;
    transition: .5s;
}
.nav .navigation::after{
    content: '';
    top: -10px;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    box-shadow: var(--shadow-color);
    background-color: #bbb;
    z-index: 0;
}

.nav .navigation ul {
    display: flex;
    width: 350px;
    
}
.nav .navigation ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.nav .navigation ul li a {
    position: relative;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.nav .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    border-radius: 50%;
    color: #646464;
}

.nav .navigation ul li  a.active .icon {
    transform: translateY(-40px);
    background-color: #ffffff;
    border-radius: 50%;
    animation: pular .4s alternate infinite ;
}

.nav .navigation ul li a .text {
    position: absolute;
    padding: 3px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    font-size: 0.6em;
    transition: .5s;
    opacity: 0;
    transform: translateY(30px);
}

.nav .navigation ul li a.active .text {
    opacity: 1;
    transform: translateY(0px);
    background-color: #646464;
}

a.active {
    position: absolute;
    top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: .5s;
    z-index: 1;
} 

a.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

a.active::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--calr);
} 
.navigation ul li:nth-child(1) a.active~.indicator {
    transform: translateX(calc(70px * 0));
}

.nav .navigation ul li:nth-child(2) a.active~.indicator {
    transform: translateX(calc(61px * 1));
}

.nav .navigation ul li:nth-child(3) a.active~.indicator {
    transform: translateX(calc(61px * 2));
}

.nav .navigation ul li:nth-child(4) a.active~.indicator {
    transform: translateX(calc(58.5px * 3));
}

.nav .navigation ul li:nth-child(5) a.active~.indicator {
    transform: translateX(calc(58.5px * 4));
}
.nav .navigation ul li:nth-child(6) a.active~.indicator {
    transform: translateX(calc(58.5px * 5));
} 

@keyframes pular {
    from{
        transform: translateY(-40px);
    }
    to{
        transform: translateY(-50px);
    }
}
