.bubbleContainer{
    margin: 10px;
    justify-content: space-evenly;
    display: flex;
    border-radius: 100px;
    position: relative;
    flex-wrap: wrap;
}
.drop{
    position: relative;
    border-radius: 50%;
    /* background-color: rgba(255, 0, 0, 0.411); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    text-shadow: -2px -2px 5px #fff;
    filter: drop-shadow(4px 4px 10px #fff);
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0,0,0,0.05),
                15px 20px 20px rgba(0,0,0,0.05),
                inset -10px -10px 15px rgba(255,255,255,0.7);
    transition: .5s;
    overflow: hidden;
}
/* .large.drop:hover{
    transform: scale(1.1) translateY(-20px);
} */
.drop::before{
    content: '';
    position: absolute;
    top: 20%;
    left: 15%;
    background-color: #fff;
    width: 14%;
    height: 14%;
    border-radius: 50%;
    filter: blur(3px);
}
.drop::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: #fff;
    width: 7%;
    height: 7%;
    border-radius: 50%;
    filter: blur(3px);
}

.drop img{
    width: 80%;
}
.large{
    width: 130px;
    height: 130px;
    margin:10px;
}
.medium{
    width: 100px;
    height: 100px;
    margin:10px;
}
.small{
    width: 40px;
    height: 40px;
    margin:0 3px;
}
.small-menu{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.small-menu-padding{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.small-desc{
    width: 70px;
    height: 70px;
}
