.formation-container,
.formation-item,
.formation-title,
.formation-date,
.formation-data,
.formation-icon,
.formation-item,
.timeline-formation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formation-container{
    width: 100%;
    min-height: 100vh;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: #fff;
}
.formation-title{
    width: 100%;
    max-width: 600px;
}
.grid-formation{
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    backdrop-filter: blur(4px);
    padding: 10px;
}
.formation-item{
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}
.timeline-formation{
    width:30px;
    position: relative;
}

.timeline-formation-ball{
    box-shadow: var(--shadow-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 -7.5px;
    border-radius: 50%;
    position: relative;
    overflow: none;
}
.timeline-formation-ball::before,
.timeline-formation-ball::after{
    content: '';
    width: 3px;
    height: 40px;
    left: 45%;
    border-radius: 30px;
    box-shadow: var(--shadow-color);
}
.timeline-formation-ball::after{ 
    top: -45px;
    position: absolute;
}
.timeline-formation-ball::before{
    bottom: -45px;
    
    position: absolute;
}
.formation-date{
    justify-content: flex-start;
    font-size: 16px;
    
}

.formation-icon{
    margin-right: 15px;
    font-size: 40px;
    width: 30px;
    height: 30px;
}
.formation-name{
    font-size: 1.3em;
    font-weight: 800;
}

.formation-item .content{
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(45deg, #0226b8c5, #f21313c2);
}
