.gridSocialButtons,
.gridSocialButtons ul,
.gridSocialButtons ul li,
.gridSocialButtons ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridSocialButtons {
    width: 100%;
}

.gridSocialButtons ul {
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    min-height: 350px;
    z-index: 1;
}

.gridSocialButtons ul li {
    background-color: rgb(43, 43, 43);
    border-radius: 50px 0 0 50px  ;
    width: 90%;
    height: 90px;
    justify-content: flex-start;
    padding:12px;
    transition: .5s;
    text-align: center;
    color: rgb(255, 255, 255);
    gap: 10px;
}

.gridSocialButtons ul li a {
    list-style: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--button-color);
    font-size: 45px;
    transition: .7s;
}

.gridSocialButtons ul li a {
    color: rgb(66, 66, 66);
    cursor: pointer;
}

.gridSocialButtons ul li:hover {
    
    transform: scale(1.1);
}

.gridSocialButtons ul li:hover a {
   background-color: rgb(255, 255, 255);
}